/*GRID START-------------------------------*/
            .main-container {
                margin-top:40px;
                width: 100%;
                height: 94vh;
                font-size: 1.3vw;
                display: grid;
                border: solid black 0px;
                grid-gap: 10px;
                grid-template-columns: 1fr 1fr 1fr ;
                grid-template-rows: 1fr 1fr;
                grid-template-areas:
                "cell-a cell-b cell-c"
                "cell-d cell-d cell-d";
            }

            .cell {
                padding: 5px;
                border: solid black 0px;
                overflow: scroll;
            }
            
            .a { grid-area: cell-a; }
            .b { grid-area: cell-b; }
            .c { grid-area: cell-c; }
            .d { grid-area: cell-d; }
          
            @media (max-width: 900px) {
                .main-container{
                    height: auto;
                    font-size: 3vw;
                    grid-template-columns: 1fr ;
                    grid-template-rows: auto auto auto auto;
                    grid-template-areas:
                    "cell-a"
                    "cell-b"
                    "cell-c"
                    "cell-d";
                }

                .a { grid-area: cell-a; overflow:visible; }
                .b { grid-area: cell-b; overflow:visible; }
                .c { grid-area: cell-c; overflow:visible;}
                .d { grid-area: cell-d; overflow:visible; }
            }
            /*GRID END---------------------------------*/

            /*SIDE NAV START---------------------------*/

            .sidenav {
                height: 100%;
                width: 0;
                position: fixed;
                z-index: 1;
                top: 0;
                left: 0;
                background-color: rgb(255, 255, 255);
                overflow-x: hidden;
                transition: 0.5s;
                padding-top: 60px;
            }

            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 12px;
                display: block;
                color: black;
            }
              
            .sidenav .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 12px;
                margin-left: 50px;
                color: black;
            }

            #menuButton {
                font-size:12px;
                cursor:pointer; 
                position: absolute;
                top: 0;
                right: 0; 
                margin-right: 30px; 
                margin-top: 7px;
            }

            /*SIDE NAV END---------------------------*/


            body {
                font-family: Arial, Helvetica, sans-serif;
            }
            p {
                margin: 0px;
            
            }